body,
html {
    padding: 0;
    margin: 0;
}

.desk_nav {
    height: 80px;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.16);
}

.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav {
    text-transform: uppercase;
}

.desk {
    height: 80px;
}

.mobile_nav {
    padding: 20px;


}

.mobile_nav_head {
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.mobile_nav_container {
    text-align: center;

}

.menu_display {
    display: none;
}

.open_menu,
.close_menu {
    background-color: transparent;
    border: none;
}

.close_menu {
    display: none;
}

.mobile {
    height: 20px;
}

.nav_items {
    color: #353535;
    font-family: 'Abel pro';
}



.nav_items:hover {
    text-decoration: none;
    color: #5BC3B5;
}

.logo {
    padding: 0;
    margin: 0;
    height: 50px;
}

.q_container {
    background-color: #F1F1F1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 6px;
}

.q {
    background-color: transparent;
    border: none;
    padding-left: 6px;
}

.q:focus {
    outline: none;
    background-color: none;
}

.q_btn,
.open_menu,
.close_menu {
    background-color: transparent;
    border: none;

}

.q_logo {
    padding-bottom: 4px;
}


.foot_container {
    background-color: #E0E0E0;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.foot_content {
    font-family: 'Abel pro';
    text-align: center;
    color: #A0A0A0;
}

.foot_img {
    height: 100px;
}

.tspacer {
    margin-top: 80px;
}

.single_view {
    text-align: center;

}

.single_view>h1 {
    font-family: 'Playfair Display';
    color: #353535;
    margin-bottom: none !important;
}

.single_view>h6 {
    font-family: 'Abel Pro';
    text-transform: uppercase;
    color: #353535;
}

.single_view>p>* {
    font-family: 'Times New Roman' !important;
    font-size: 20px !important;
    color: #353535;
}

.tag_container {
    text-align: left !important;
    position: relative;
    bottom: 100px;
}

.tags {
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-size: medium;
    text-transform: capitalize;
}

.mobile_nav {
    display: none;
}


@media only screen and (max-width: 768px) {

    .mobile_nav {
        display: block;
    }

    .desk_nav {
        display: none;
    }

}
