html,
body {
    margin: 0;
    padding: 0;
}

.dbul,
.dbli,
.dba {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: abel;
    line-height: 3rem;
    color: #f5f5f5;
}

.detail,
li {
    list-style: none;
    text-decoration: none;
    font-family: abel;
}

.detail {
    padding: unset !important;
    line-height: 2rem;
}

.dbli {
    padding-left: 40px;
}

.dbul {
    padding-left: 0;
}

.dbli:hover {
    width: 100%;
    background-color: blanchedalmond;
}

.side_nav {
    width: 300px;
    min-height: 100vh;
    background-color: #002147;
}

.content_area {
    width: 100%;
    background-color: #f5f5f5;
}

.body {
    display: flex;
}

.brand,
p,
.top_nav {
    margin: 0;
    height: 50px;
    width: 100%;
}

.top_nav {
    background-color: white;
    -webkit-box-shadow: 0px 3px 15px -9px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 15px -9px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 15px -9px rgba(0, 0, 0, 0.35);
}

/* tags_styles */

.top_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content {
    margin: 50px;
}

.c-table {
    margin-top: 20px;
}

.table {
    background-color: white;
    -webkit-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    font-size: small;
}

.c-head {
    background-color: #002147;
    color: whitesmoke;
}

.btn {
    border-radius: 0 !important;
    font-family: "roboto" !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #2980b9 !important;
}

.btn-success:hover {
    background-color: #27ae60 !important;
}

.btn-danger:hover {
    background-color: #c0392b !important;
}

.btn-primary {
    background-color: #3498db !important;
    text-transform: none !important;
}

.btn-success {
    background-color: #2ecc71 !important;
    text-transform: none !important;
}

.btn-danger {
    background-color: #e74c3c !important;
    text-transform: none !important;
}

td {
    vertical-align: middle !important;
}

.modal,
.modal-body,
.modal-content {
    border-radius: 0 !important;
}

input,
select {
    border-radius: 0 !important;
}

.select2-selection {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}



table.dataTable.no-footer {
    border-bottom: none !important;
}

.tags {
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    text-transform: capitalize;
}

.cmodal {
    background-color: white;
    -webkit-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    padding: 25px;
}

.cmodal-main {
    background-color: white;
    -webkit-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 42px -16px rgba(0, 0, 0, 0.35);
    padding: 40px;
    text-align: center;
    overflow: scroll;
}

.t-btn {
    font-size: small !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #002147 !important;
    border-color: black !important;
}

.pagination {
    border-radius: none !important;
}

.page-item:last-child .page-link {
    border-top-right-radius: none !important;
    border-bottom-right-radius: none !important;
}

.single_view {
    text-align: center;
    font-family: 'playfair';
}
